<mat-toolbar color="primary" class="mat-elevation-z6">Aurora</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/rooms" routerLinkActive="router-link-active">Room</a>
      <a mat-list-item routerLink="/payments" routerLinkActive="router-link-active">Payments</a>
      <a mat-list-item routerLink="/attendance" routerLinkActive="router-link-active">Attendance</a>
      <a mat-list-item routerLink="/students" routerLinkActive="router-link-active">Students</a>
      <a mat-list-item routerLink="/employees" routerLinkActive="router-link-active">Employees</a>
      <a mat-list-item routerLink="/status" routerLinkActive="router-link-active">Hostel Status</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
