<mat-toolbar color="primary" class="mat-elevation-z6">Aurora</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="">Room</a>
      <a mat-list-item routerLink="">Payments</a>
      <a mat-list-item routerLink="">Attendance</a>
      <a mat-list-item routerLink="">Persons</a>
      <a mat-list-item routerLink="">Hostel Status</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
